/* News */
.title {
    font-size: 55pt;
    font-family: 'Rufina', serif;
    font-weight: 300;
}
.row .item {
    margin-top: 50px;
}
.row .tabcontent {
    margin-top: 50px;
    margin-bottom: 50px;
}
.pagectrl {
    border-top: 1px solid #5e5e5eee;
}
.pagination {
    justify-content: center;
    margin-top: 30px;
}

/* video */
.video {
    width: 100%;
    margin-top: 80px;
}