/* CMA */
.flexible-height{
	flex-grow: 1;
  }
.pdbox {
    box-shadow:0px 0px 5px #999;
	margin: auto;
}
.pdbox h5 {
	color: #0fc45b;
	width: 100%;
	line-height: 3em;
	text-align: center;
	border-bottom: 1px solid #0fc45b;
}
.pdbox ul {
	margin: 1.5rem 1rem 1.5rem 0;
	list-style-type: square;
    padding-left: 40px;
}
.ugbk {
    background-color: #eeeeee;
	margin: 1em;
	padding: 1em;
	text-align: center;
}
.ugbk h6 {
    font-size: 1.2em;
    line-height: 2em;
    width: 50%;
    margin: 0 auto 0.5em auto;
    border-bottom: 1px solid #333;
    font-weight: normal;
}
.cash {
    color: #c90101;
	text-align: center;
	font-size: 2.2em;
}
.cash::before{
    content:"優惠價：";
    color:#000;
	font-size: .4em;
}
.cash::after{
    content:"元";
    color:#000;
	font-size: .4em;
}
.bt_prd {
    background-color: #0fc45b;
	display: block;
	text-align: center;
	color: #fff;
	width: 100%;
	line-height: 4em;
}
.bt_prd:hover {
	background-color: #009900;
	text-decoration: none;
	color: #fff;
}